@media(max-width:991px) { 
    /* 카테고리 */
	#bo_cate_ul {
    display:inline;
	/*display:flex;*/
    justify-content:space-between;
	}
	#bo_cate_ul li {
		background: #fff !important;
		box-shadow: none;
		width:50%;
		display:inline-block;
		/*width: 100%;
		display:block;*/
		text-align: center;
		padding: 0;
	}
		#bo_cate_ul li a {

      padding-top: 12px;
      padding-bottom: 12px;
      transition: 0.2;
      font-weight:600;
      color: rgb(26, 26, 26);
      font-family: 'Noto Sans KR';
      font-size:15px;
    }
    #bo_cate_ul li #bo_cate_on {
        background: #fff;
      border-bottom: 0;
      border-top: 2px #000 solid;
      outline: none;
      text-decoration: none;
      color: #000;
      box-shadow: none;
      border-left: 1px #e3e3e3 solid;
      border-right: 1px #e3e3e3 solid;
    }
    /* 카테고리 마감 */
    /* 다음글 이전글 */
    .bo_v_nb {
        position: relative;
        margin: 20px 0;
        clear: both;
        text-align: left
    }
    .bo_v_nb:after {
        display: block;
        visibility: hidden;
        clear: both;
        content: ""
    }
    .bo_v_nb li {
        border-top: 1px solid #DCDBDB;
        padding: 0px;
    }
    .bo_v_nb li:last-child {
        border-bottom: 1px solid #DCDBDB
    }
    .bo_v_nb li:hover {
        background: #fff;
    }
    .bo_v_nb li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .bo_v_nb li a {
        font-size: 14px !important;
    }
    .bo_v_nb li a:hover {
        color: #000;
        /*    text-decoration: none;*/
    }
    .bo_v_nb li i {
        font-size: 13px;
        color: #b3b3b3;
        display: none;
    }
    .bo_v_nb li .nb_tit {
        display: inline-block;
        padding-right: 0;
        color: #606060;
        background-color: #F9F9F9;
        width: 80px !important;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 10px !important;
        font-weight: 900;
        font-size: 14px !important;
    }
    .bo_v_nb li .nb_date {
        display: none;
    }
    .tbl_head01 thead th {
        padding: 12px 0;
        font-weight: normal;
        text-align: center;
        border-bottom: 1px solid #ececec;
        border-top: 1px solid #000;
        height: 30px;
        background-color: #f9f9f9;
        color: #000;
        font-size: 13px;
        font-weight: 600;
    }
    /* 리스트 버튼 */
    .bo_fx .btn_bo_user li a.btn_b01.btn, .btn_submit.btn {
        color: #fff;
       
    }
    .bo_fx .btn_bo_user .btn {
        min-width: 80px;
        height: 38px;
        line-height: 38px;
        padding: 0px 16px;
        
    }
    .bo_fx .btn_bo_user .sound_only {
        display: inline-block !important;
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        height: 18px;
        margin: auto !important;
        padding: auto !important;
        font-size: 14px; 
        font-weight: 600;
        line-height: 18px;
        border: 0 !important;
        overflow: hidden !important;
    }
    /* 리스트 */
    /* 뷰버튼 */
    .btn_cancel.btn, .btn_submit.btn {
        min-width: 80px;
        height: 38px;
        line-height: 36px;
        padding: 0px 16px;
        font-size:14px !important;
        border-radius: 0;
    }
    .bo_fx .btn_bo_user .btn, .btn_cancel.btn {
        padding: 0px 16px;
    }
    .bo_vc_w .btn_submit {
        height: 38px;
        line-height: 36px;
        padding: 0px 16px;
        border-radius: 0;
        font-weight: bold;
        font-size: 14px;
    }
    /* 뷰버튼 마감 */
} 

