.btn.btn-pack {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #4c4c4c;
    padding: 0px 20px;
    text-align: center;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    vertical-align: middle;
}

.btn.btn-pack:hover {
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
}

.btn.btn-pack {
    min-width: 100px;
    height: 40px;
    line-height: 38px;
}

.btn-pack.blue {
    background-color: #2c3d5e;
    border-color: #2c3d5e;
    color: #fff;
}

.btn-pack.blue:hover {
    border-color: #506691;
    background-color: #506691;
    color: #fff;
}

.btn-pack.black {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.btn-pack.border-black {
    background-color: #fff;
    border: 1px #000 solid;
    color: #000;
}


/* */

.bt_lnk {
    display: inline-block;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #111;
    text-decoration: none;
    padding: 15px 4.615em;
    height: 48px;
    font: 800 13px 'ssc', 'Malgun Gothic';
    color: #111;
    text-transform: uppercase;
    letter-spacing: .25em;
    position: relative;
    z-index: 0;
}

.bt_lnk:after {
    content: '';
    background: #111;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: all 0.3s;
}

.bt_lnk:hover {
    color: #fff;
}


/* a button basic */

.bt_basic_lnk:after {
    left: 0;
    width: 0;
    height: 100%;
}

.bt_basic_lnk:hover:after {
    width: 100%;
}


/* a button bottom more */

.bt_lnk.bt_more:after {
    left: 0;
    width: 100%;
    height: 0;
}

.bt_lnk.bt_more:hover:after {
    height: 100%;
}


/* a button back */

.bt_lnk.bt_back {
    padding: 15px 6em;
}

.bt_lnk.bt_back:after {
    right: 0;
    width: 0;
    height: 100%;
}

.bt_lnk.bt_back:hover:after {
    width: 100%;
}


/* a button radius ver */

.bt_radius_ver {
    display: inline-block;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 4.615em;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #111;
}

.bt_radius_ver:hover {
    background-color: #eee;
}

.bt_radius_ver.col_mint {
    background-color: #4ec3cb;
    color: #fff;
}

.bt_radius_ver.col_mint:hover {
    background-color: #3aaeb6;
}