html,
body {
    height: 100%;
}

html {
    overflow-x: hidden;
}

a {
    color: #000;
}

@media(min-width:1400px) {
    .container {
        width: 1430px;
    }
}

@media(max-width:1279px) {
    .container {
        width: auto;
    }
}


/* layout */
#header {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 97px;
    transition: .5s height, .2s background;

    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
    

}

#header .top_wrap {
    display: flex;

}

#header .top_wrap .logo,
#header .top_wrap .nav,
#header .top_wrap .etc {

    padding-left: 15px;
    padding-right: 15px;
}

#header .top_wrap .logo {
    width: 20%;

}

#header .top_wrap .nav {
    width: 60%;
    justify-content: center;
    align-items: center;


}

#header .top_wrap .etc {
    width: 20%;
    /* text-align: right;
    color: #fff;
    padding-top: 37px;
    font-size: 13px; */

}

#header .top_wrap .etc ul {
    /* margin-right: 15px;
    border-radius: 0;
    padding: 0;
    min-width: 100px;
    background: #000;
    padding-top: 6px;
    padding-bottom: 6px; */
}

@media(min-width:992px) {
    /* #header .top_wrap .etc ul {
        margin-top: -35px;
    } */
}

#header .top_wrap .etc ul li {
    text-align: right;
    border-bottom: 1px rgb(31, 31, 31) solid;
}

#header .top_wrap .etc ul li:last-child {
    border: 0;
}

#header .top_wrap .etc ul li a {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 13px;
    color: #fff;
}

#top_wrap .wrap .right_wrap .top-group li .dropdown-menu li {
    /*    font-size: 13px;*/
    /*    border-bottom: 1px #eee solid;*/
    padding-bottom: 20px;
}

#top_wrap .wrap .right_wrap .top-group li .dropdown-menu li:last-child {
    border-bottom: 0;
}

#top_wrap .wrap .right_wrap .top-group li .dropdown-menu>li>a {
    display: block;
    padding: 8px 20px !important;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-size: 12px;
    border-bottom: 1px #ddd solid;
    float: left;
    width: 100%;
    padding-right: 0;
    margin-right: 0;
}

#top_wrap .wrap .right_wrap .top-group li .dropdown-menu>li:last-child>a {
    border: 0;
}

#top_wrap .wrap .right_wrap .top-group li .dropdown-menu {
    min-width: auto;
    padding: 0;
    margin: 12px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#header .top_wrap .etc span.lang i {
    margin-left: 6px;

}

.header .inner {
    position: relative;
    width: 100%;
    height: 97px;
    margin: 0 auto;

}

.header .inner:after {
    display: block;
    clear: both;
    content: "";
}

.header h1 {
    padding-top: 38px;
    padding-left: 30px;
}

.header h1 a {
    overflow: hidden;
    display: block;
    height: 32px;
    background: url(../../img/common/logo.png) 0 0 no-repeat;
    text-indent: -9999px;

}

.header .gnb_wrap {
    /* position: absolute;
    left: 50%;
    top: 0;
    width: 800px;
    margin-left: -341px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .gnb {
    text-align: center;

}

.header #gnb {
    background: transparent;
}

.header .gnb li {
    float: left;
    width: 200px;
    text-align: left;
}

.header .gnb a {
    display: inline-block;
    font-weight: 500;
    line-height: 1em;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}

.header .gnb:after {
    display: block;
    clear: both;
    content: "";
}

.header .gnb .depth1 {
    position: relative;
}

.header .gnb .depth1>a {
    display: block;
    height: 57px;
    padding: 40px 0 0;
    font-size: 20px;
}

.header .gnb .depth1>a:hover,
.header .gnb .depth1>a:focus,
.header .gnb .depth1.on>a:hover,
.header .gnb .depth1.on>a {
    color: #000 !important;
    text-decoration: none;
}

.header .gnb .depth2 {
    display: none;
}


/* header sub */
#header.sub {
    background: #fff;
}

#header.sub:before {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 50px;
    background: #6b9ecc;
    content: "";
}

.header.sub h1 a {
    background-position: 0 100%;
}

.header.sub .gnb .depth1>a {
    color: #333;
}

.header.sub .gnb .depth1>a:hover {
    color: #6b9ecc;
}

#header.sub .top_wrap .etc {
    color: #000;
}

/* header_hover */
#header.all {
    height: 340px;
    background: #fff;
    z-index: 1100;
}

#header.all:before {
    position: absolute;
    left: 0;
    top: 95px;
    width: 100%;
    height: 260px;
    background: #f1f1f3;
    content: "";
}

.header.all h1 a {
    background-position: 0 100%;
}

.header.all .gnb_wrap {}

.header.all .gnb_wrap .gnb {
    /* overflow: hidden;
    width: 1140px;
    margin: 0 auto;
    text-align: left; */
}

.header.all .gnb_wrap .gnb a {
    color: #666;
}

.header.all .gnb_wrap .gnb a:hover,
.header.all .gnb_wrap .gnb a:focus {
    color: #6b9ecc;
}

.header.all .gnb_wrap .depth1 {
    overflow: hidden;
}

.header.all .gnb_wrap .depth1>a {
    margin-bottom: 70px;
    color: #333;
}

.header.all .gnb_wrap .depth1>a:hover,
.header.all .gnb_wrap .depth1>a:focus {
    color: #333;
}

.header.all .gnb_wrap .depth1.menu1 {
    margin-left: 0;
}

.header.all .gnb_wrap .depth2 {
    display: block;
}

.header.all .gnb_wrap .depth2>li {
    margin-bottom: 12px;
}

.header.all .gnb_wrap .depth2>li>a {
    padding-bottom: 4px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1em;
    color: rgb(87, 87, 87);
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
    position: relative;
}

.header.all .gnb_wrap .depth2>li>a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;


}

.header.all .gnb_wrap .depth2>li>a:hover:before {
    width: 100%;
    background: #000;
}

.header.all .gnb_wrap .depth2>li>a:hover {
    text-decoration: none;
    color: #000;
}

/* .header.all .gnb_wrap .depth2>li>a:before {
    content: "· "
}

.header.all .gnb_wrap .depth2>li>a:hover {
    text-decoration: none;
} */

/* sticky */

#header.sticky {
    top: -30px
}
.header.sticky {
    position: fixed !important;
    top: 0;
      background-color: rgba(255,255,255,1);
      border-bottom: 1px #eee solid !important;
      z-index: 99999999999999;
      transition: 1s
  }
  




.header.sticky h1 {
    /* padding-top: 22px;
    padding-left: 30px;
    width: 120px; */
    
    padding-top: 52px;
}

.header.sticky h1 a {
    overflow: hidden;
    display: block;
    height: 32px;
    background: url(../../img/common/logo.png) 0 100% no-repeat;
    text-indent: -9999px;
    

}
.header.sticky .gnb a {
    display: inline-block;
    font-weight: 500;
    line-height: 1em;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}
.header.sticky .gnb .depth1>a {
    display: block;
    padding: 54px 0 0;
    font-size: 16px;
}
.header.sticky .top_wrap .etc {
    margin-top: 15px;
    color: #000 !important;
    
}
/* header_hover */
.header.sticky.all .gnb_wrap .depth2>li>a {
    padding-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    color: rgb(87, 87, 87);
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
    position: relative;
}

/* sticky end */

.top_right_etc {
    z-index: 99999999999999999999999999999999999999;
    top: 0;
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 40px;
    font-size: 13px;
    color: #fff;
    transition: 0.6s;
 
}
.top_right_etc ul {
    border-radius: 0;
    padding: 0;
    border: 0;
    min-width: 100px;
    background: #fff;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
    border: 1px #ddd solid;
}
.top_right_etc ul li a {
    line-height: 32px;
    font-size:13px;
    color: #000;
    border-bottom: 1px rgb(231, 231, 231) solid;
}
.top_right_etc ul li a:hover {
    background: rgb(241, 241, 241);
}
.top_right_etc.sub {
    color: #000;
}
/* sticky top_right_etc */
.top_right_etc.sticky {
     position: fixed !important;
     color: #000;
     margin-top: 23px;
} 

/* 모바일 메뉴 */
.row-offcanvas {
    height: 100%;
}

.sidebar-offcanvas {
    display: none;
}

.js-offcanvas-btn {
    position: absolute;
    right: 0;
    margin-right: 15px;
    top: 20px;
    background-color: transparent;
    border: 0;
}

/* 모바일 메뉴 마감 */
#index_swiper .bottom-right {
    z-index: 999999999999999999999999999999999999999;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 1);
    width: 50%;
}

#index_swiper .bottom-right .box_wrap {
    display: flex;

}

#index_swiper .bottom-right .box_wrap .box {
    width: 50%;
    padding: 40px 40px;
}

#index_swiper .bottom-right .box_wrap .box.box01 {
    background: url('../../img/main/visual-icon01.png');
    background-position: 40px 50%;
    padding-left: 130px;
    background-repeat: no-repeat;
    border-right: 1px #ddd solid;
}

#index_swiper .bottom-right .box_wrap .box.box02 {
    background: url('../../img/main/visual-icon02.png');
    background-position: 40px 50%;
    padding-left: 130px;
    background-repeat: no-repeat;
}

#index_swiper .bottom-right .box_wrap .box dt {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #000;
    display:inline-block;
    position: relative
}

#index_swiper .bottom-right .box_wrap .box dd {
    font-size: 15px;
    color: #989898;
}
#index_swiper .bottom-right .box_wrap  .box  dl dt::before {
    background: #82ecff;
    content: "";
    height: 4px;
    left: 0;
    margin-top: 30px;
    position: absolute;
    width: 0%;
    transition: 0.5s;
    z-index: -1
}

#index_swiper .bottom-right .box_wrap  .box  dl dt:hover::before {
    width: 100%;
}

#index_swiper .bottom-right .box_wrap  .box  dl dt a:hover {
    text-decoration: none;
    color: #000;
}
/* #index_swiper .bottom-right .box_wrap  .box  dl dt a {
    text-decoration: none; 
    color: #000;
} */
/* 인덱스 */
#index_wrap {}

#index_wrap section.section01 {
    padding-top: 140px;
    padding-bottom: 140px;

}

#index_wrap section.section01 .text_wrap {
    position: absolute;
    margin-left: 260px;
    margin-top: 140px;
    z-index: 2;
}

#index_wrap section.section01 .text_wrap span {
    font-size: 16px;
    color: #c2c2c2;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;

}

#index_wrap section.section01 .text_wrap .text {
    margin-top: 20px;
    font-size: 62px;
    color: #000;
    font-weight: 900;
    line-height: 59px;
    font-family: 'Josefin Sans', sans-serif;
}

#index_wrap section.section01 {
    padding-right: 60px;
}

#index_wrap section.section01 .box_wrap {
    display: flex;
    /* flex-direction:row-reverse */
    justify-content: flex-end;
}

#index_wrap section.section01 .box_wrap .box {
    width: 21%;
    margin-left: 40px;
    background: #ddd;
    /* height: 495px; */
    position: relative;
}


#index_wrap section.section01 .box_wrap .box {
    overflow: hidden
}

#index_wrap section.section01 .box_wrap .box img {
    width: 100%;
}

.scale {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
    /* 부드러운 모션을 위해 추가*/
}

.scale:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}



#index_wrap section.section01 .box_wrap .box .text {
    bottom: 0;
    position: absolute;
    background: #fff;
    padding: 22px 15px 12px;
    width: 240px;


}

#index_wrap section.section01 .box_wrap .box .text span {
    position: relative;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    color: #000;
    font-size: 15px;
    letter-spacing: 2px;
}

#index_wrap section.section01 .box_wrap .box .text span::after {
    position: absolute;
    width: 32px;
    height: 1px;
    background: #000;
    content: '';
    margin-top: 12px;
    margin-left: 56px;
}

#index_wrap section.section02 {
    background-size: cover;
}

#index_wrap section.section02 .box_wrap {
    display: flex;
    height: 78vmin;
    align-items: center;
    flex-direction: row;
}

#index_wrap section.section02 .box_wrap .box.text_wrap {
    width: 40%;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
}

#index_wrap section.section02 .box_wrap .box.video_wrap {
    width: 50%;
    margin-left: auto;
    position: relative;


}

#index_wrap section.section02 .box_wrap .box.video_wrap .over {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    /* transition: .2s ease; */
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#index_wrap section.section02 .box_wrap .box.video_wrap:hover .over {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#index_wrap section.section02 .box_wrap .box.video_wrap .play {
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    color: #fff;
}


#index_wrap section.section02 .box_wrap .box.video_wrap img {
    cursor: pointer;
    width: 100%;
}

#index_wrap section.section02 .box_wrap .box.text_wrap h1 {
    font-size: 50px;
    font-weight: 600;
    color: #000;
    margin-bottom: 26px;
    font-family: 'NanumSquare';
    color: rgba(255, 255, 255, 1);
    position: relative;
    display: block;
}
#index_wrap section.section02 .box_wrap .box.text_wrap p {
    color: #fff;
}
#index_wrap section.section02 .box_wrap .box.text_wrap h1::before {
    position: absolute;
    width: 40px;
    height: 1px;
    background: #fff;
    content: '';
    margin-top: -16px;
}

#index_wrap section.section02 .box_wrap .box.text_wrap .btn_wrap .bt_basic_lnk {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    border: 1px solid #fff;
    background-color: transparent;
    width: 220px;
    padding: 13px 20px 15px;
    color: #fff;
    position: relative;
    z-index: 0;
    font-size: 16px;
    letter-spacing: 0;
    margin-top: 35px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

#index_wrap section.section02 .box_wrap .box.text_wrap .btn_wrap .bt_lnk::after {
    content: '';
    background-color: rgb(255, 255, 255, 1);
    position: absolute;
    top: 0;
    z-index: -1;
    transition: all 0.3s;
    color: #000;
    /* width: 20px;
    margin-left: 180px;
    margin-top: 28px;
    height: 1px; */
}

#index_wrap section.section02 .box_wrap .box.text_wrap .btn_wrap .bt_lnk:hover {
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 1);
    color: #000;
}

#index_wrap section.section02 .box_wrap .box.text_wrap .btn_wrap .bt_lnk span {

    position: relative;
}

#index_wrap section.section02 .box_wrap .box.text_wrap .btn_wrap .bt_lnk span::after {
    position: absolute;
    width: 20px;
    height: 1px;
    background: #fff;
    content: '';
    margin-left: 90px;
    margin-top: 12px;
    transition: all 0.3s;
}

#index_wrap section.section02 .box_wrap .box.text_wrap .btn_wrap .bt_lnk:hover span::after {
    background: #000;
    height: 3px;
    margin-left: 100px;
}

#index_wrap section.section03 {
    margin-top: 80px;
}

#index_wrap section.section03 .title {
    text-align: center;
    font-size: 20px;
    color: #9d9d9d;
    margin-bottom: 70px;
}

#index_wrap section.section03 .title h1 {
    font-size: 36px;
    margin-bottom: 12px;
    font-family: 'Open Sans', sans-serif;
}

#index_wrap section.section03 .box_wrap {
    /* display:flex; */
    /* justify-content: space-between; */
}

#index_wrap section.section03 .box_wrap .box {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;

}

#index_wrap section.section03 .box_wrap .box img {
    width: 100%;
}

#index_wrap section.section03 .box_wrap .box .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    /* transition: .5s ease; */
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#index_wrap section.section03 .box_wrap .box:hover .overlay {
    opacity: 1;
}


#index_wrap section.section03 .box_wrap .box .overlay .text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    line-height: 22px;
    padding-left: 80px;
    padding-right: 80px;
}

#index_wrap section.section03 .box_wrap .box .overlay .text a {
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    line-height: 26px;
}

#index_wrap section.section03 .box_wrap .box .overlay .text a h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 26px;
}

#index_wrap section.section03 .box_wrap .box .overlay .text a:focus,
#index_wrap section.section03 .box_wrap .box .overlay .text a:hover {
    text-decoration: none;
    outline: none;
}


#index_wrap section.section03 .box_wrap .slider {
    position: relative;
}

#index_wrap section.section03 .box_wrap .slider .slick-list {
    margin: 0 -18px !important;
}

#index_wrap section.section03 .box_wrap .slick-slide {
    margin: 0 9px !important;
}

/* 도트 */
.slider-gallery .slick-dots {
    display: block !important;
    bottom: -55px;
}

.slider-gallery .slick-dots li {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 3px;
    padding: 0;
    cursor: pointer;
}

.slider-gallery .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 16px;
    height: 16px;
    padding: 3px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;

}

.slider-gallery .slick-dots li button:before {
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    text-align: center;
    opacity: .15;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.4s;
}

.slider-gallery .slick-dots li button:before {
    opacity: .15;
    color: #000;
}

.slider-gallery .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #000;
}

/* 도트 마감 */
#index_wrap section.section04 {
    background: #f7f9fa;
    margin-top: 80px;
}

#index_wrap section.section04 .box_wrap {
    display: flex;
    margin-top: 72px;
    margin-bottom: 72px;

}

#index_wrap section.section04 .box_wrap .box01 {
    width: 20%;
    font-size: 16px;
    color: #858585;
    font-weight: 500;
    padding-top: 24px;
}

#index_wrap section.section04 .box_wrap .box02 {
    width: 52%;
    padding-left: 200px;
    padding-right: 80px;


}

#index_wrap section.section04 .box_wrap .box03 {
    padding-left: 30px;
    width: 28%
}

#index_wrap section.section04 .box_wrap .box01 h1 {
    font-size: 43px;
    color: #000;
    font-weight: 900;
    font-family: 'Noto Sans KR';
    line-height: 59px;
    margin-bottom: 20px;

}

#index_wrap section.section04 .box_wrap .box01 h1 span {
    display: inline-block;
    position: relative;
    z-index: 1
}

#index_wrap section.section04 .box_wrap .box01 h1 span::before {
    position: absolute;
    width: 100%;
    height: 12px;
    background: #aee4ff;
    content: '';
    margin-top: 46px;
    z-index: -1;

}

#index_wrap section.section04 .box_wrap .box h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Noto Sans KR';
    color: #000;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

#index_wrap section.section04 .box_wrap .box h2::before {
    position: absolute;
    width: 100%;
    height: 6px;
    background: #aee4ff;
    content: '';
    margin-top: 28px;
    z-index: -1;
}
#index_wrap section.section04 .box_wrap .box h2 a:hover {
    text-decoration: none;
}



#index_wrap section.section04 .box_wrap .box.box03 .tel {
    font-size: 15px;
    color: #333333;
    font-weight: 500;

}
#index_wrap section.section04 .box_wrap .box.box03 .tel ul {
    margin-bottom: 13px;
}
#index_wrap section.section04 .box_wrap .box.box03 .tel ul li {
    font-size: 34px;
    font-weight: 800;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 36px;


}

#index_wrap section.section04 .box_wrap .box.box03 .tel ul li span {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    color: #000;
    margin-right: 16px;
    letter-spacing: 0;

}

#index_wrap section.section04 .box_wrap .box.box03 .tel ul li span::before {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #000;
    content: '';
    margin-top: 26px;
}
#index_wrap section.section04 .box_wrap .box.box03 .btn_wrap {
    margin-top: 23px;
}
#index_wrap section.section04 .box_wrap .box.box03 .btn_wrap ul {
    display:flex;
}
#index_wrap section.section04 .box_wrap .box.box03 .btn_wrap ul li {
   margin-right: 5px;
    width: 45%;
}
#index_wrap section.section04 .box_wrap .box.box03 .btn_wrap ul li a.btn {
    height: 48px;
    font-size: 15px;
    border-radius: 0;
    line-height: 46px;
    padding: 0px 28px;
    letter-spacing: 0;
    width: 100%;
    font-weight:500;
    font-family: 'Noto Sans KR';
    
}
#index_wrap section.section04 .box_wrap .box.box03 .btn_wrap ul li a.btn i {
    margin-right: 4px;
}
#index_wrap section.section04 .box_wrap .box.box03 .btn_wrap ul li a.btn.black {
    background: #000;
    color: #fff;
    border: 0;
}
#index_wrap section.section04 .box_wrap .box.box03 .btn_wrap ul li a.btn.black:after {
    border-color: # n;
    background-color: #fff;
}
#index_wrap section.section04 .box_wrap .box.box03 .btn_wrap ul li a.btn.black:hover {
    color: #000;
}
#index_wrap section.section04 .box_wrap .box.box03 .btn_wrap ul li a.btn.gray {
    background: #cdcdcd;
    color: #000;
    border: 0;
}
#index_wrap section.section04 .box_wrap .box.box03 .btn_wrap ul li a.btn.gray:after {
    border-color: #fff;
    background-color: #fff;
}
#index_wrap section.section04 .box_wrap .box.box03 .btn_wrap ul li a.btn.gray:hover {
    color: #000;
}


#index_wrap section.section05 {}

#index_wrap section.section05 .slider-gallery02 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#index_wrap section.section05 .slider-gallery02 .slider img {
    border: 1px #e6e6e6 solid;
}

#index_wrap section.section05 .slider-gallery02 .slider a:hover,
#index_wrap section.section05 .slider-gallery02 .slider a:focus {
    outline: none;

}

/* 인덱스 마감 */



/*  sub layout */
/* 서브비주얼 */

@keyframes zoom {
    0% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.0, M12=0, M21=0, M22=1.0, SizingMethod='auto expand')";
        filter: progid: DXImageTransform.Microsoft.Matrix(M11=1.0, M12=0, M21=0, M22=1.0, SizingMethod='auto expand');
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
        filter: progid: DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
    }
}

.s_visual_wrap {
    position: relative;
    /*            min-width: 1100px;*/
    overflow: hidden;
    margin-top: 100px;
}

.s_visual_wrap .slide {
    position: relative;
    height: 530px;
    top: 0;
    /*            min-width: 1100px;*/
}

.s_visual_wrap .slide ul {
    padding: 0;
    margin: 0;
    margin-top: -100px;
    padding-top: -100px;
    top: -100px;
}

.s_visual_wrap .slide li {
    height: 530px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    -moz-transform-origin: center center;
    transform-origin: center center;
    /*
-webkit-animation: zoom 20s ease-in-out infinite alternate;
-moz-animation: zoom 20s ease-in-out infinite alternate;
-o-animation: zoom 20s ease-in-out infinite alternate;
-ms-animation: zoom 20s ease-in-out infinite alternate;
*/
    /*
    animation: zoom 3s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    */
    padding: 0;
    margin: 0;
    top: 0;
}

.s_visual_wrap .slide .content {
    top: 41%;
    position: relative;
    z-index: 1;
    text-align: center;
    /*
    animation: zoom 3s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    */
}

.s_visual_wrap .slide .content h1 {
    font-size: 54px;
    font-weight: 900;
    color: #fff;
    /*        padding-bottom: 0;*/
    margin-bottom: 12px;
    margin-top: 0;
    padding-top: 0;
    text-transform: capitalize;
    position: relative;
}

.s_visual_wrap .slide .content h1 span {
    font-weight: 100;
}

.s_visual_wrap .slide .content p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: 'NanumSquare', '留묒� 怨좊뵓', 'Nanum Gothic', 'Malgun Gothic', 'Ubuntu', '�뗭�', dotum, sans-serif;
    margin-top: 20px;
}



.s_visual_wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 서브비주얼 마감 */
/* 서브네비 */
#nav_center {
    border-bottom: 1px #ddd solid;
    display: block;
    position: relative;


}

#nav_center ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#nav_center li.init,
#nav_center ul li i {
    display: none;
}

#nav_center ul li {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 500;

}

#nav_center ul li a {
    font-size: 19px;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

#nav_center ul li.active a {
    border-bottom: 5px #000 solid;
    font-weight: 600;
    color: #000;

}

#nav_center ul li a:focus,
#nav_center ul li a:hover {
    text-decoration: none;
    color: #000;
}

#nav_center a.javas {
    display: none;
}

/* 서브네 마감 */
/*  서브 레이아웃 */
#sub_content {
    margin-top: 130px;
}

#sub_content .page-header {}

#sub_content .page-header h1 {
    font-size: 56px;
	font-family: 'Noto Sans KR', '맑은 고딕', 'Nanum Gothic', 'Malgun Gothic', '돋움', 'Ubuntu', dotum, sans-serif;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
	letter-spacing:-1px;

}

/*  서브 레이아웃 마감 */
/* footer */
footer {
    /*    margin-top: 30px;*/
    background-color: #34373f;
    padding: 0 !important;
    padding-bottom: 20px !important;
}

footer.sub {
    margin-top: 60px;
}

footer .btn-default {
    background-color: #fff;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    border: 1px #dddddd solid;
    padding: 4px 11px;
    border-radius: 0;
}

footer .footer-menu {
    padding-top: 12px;
    padding-bottom: 20px;
    background-color: #272a31;
    border-bottom: 1px #2a2d35 solid;
}

footer .footer-menu ul {
    padding-top: 18px;
    padding-bottom: 12px;
}

footer .footer-menu ul li:before {
    color: #464646;
}

footer .footer-menu ul li a {
    font-size: 16px;
    color: #92959b;
    font-weight: 500;
    padding-left: 16px;
    padding-right: 16px;
}

footer .footer-menu ul li a.blue {
    color: #92959b
}

footer .breadcrumb {
    margin-bottom: 4px;
    background-color: transparent;
}

footer p.logo {
    float: right;
    margin-top: 23px;
    display: none;
}

footer p.logo img {
    width: 80%;
}

footer address {
    margin-top: 25px;
    font-size: 16px;
    line-height: 23px;
    color: #979ba3;
    font-style: normal;
}

footer p {
    margin-top: 0;
    padding-top: 6px;
    color: #979ba3 !important;
    font-size: 16px;
}